
0.5.2/EFI/BOOT/BOOTx64.efi
0.5.2/EFI/OC/ACPI/SSDT-DTPG.aml
0.5.2/EFI/OC/ACPI/SSDT-EC.aml
0.5.2/EFI/OC/ACPI/SSDT-GPRW.aml
0.5.2/EFI/OC/ACPI/SSDT-OCOS.aml
0.5.2/EFI/OC/ACPI/SSDT-PLUG-_SB.PR00.aml
0.5.2/EFI/OC/ACPI/SSDT-PM.aml
0.5.2/EFI/OC/ACPI/SSDT-TB3.aml
0.5.2/EFI/OC/config.plist
0.5.2/EFI/OC/Drivers/ApfsDriverLoader.efi
0.5.2/EFI/OC/Drivers/EmuVariableRuntimeDxe.efi
0.5.2/EFI/OC/Drivers/FwRuntimeServices.efi
0.5.2/EFI/OC/Drivers/MemoryAllocation.efi
0.5.2/EFI/OC/Drivers/VBoxHfs.efi
0.5.2/EFI/OC/Drivers/VirtualSmc.efi
0.5.2/EFI/OC/Kexts/AppleALC.kext/Contents/Info.plist
0.5.2/EFI/OC/Kexts/AppleALC.kext/Contents/MacOS/AppleALC
0.5.2/EFI/OC/Kexts/CPUFriend.kext/Contents/Info.plist
0.5.2/EFI/OC/Kexts/CPUFriend.kext/Contents/MacOS/CPUFriend
0.5.2/EFI/OC/Kexts/CPUFriendDataProvider.kext/Contents/Info.plist
0.5.2/EFI/OC/Kexts/Lilu.kext/Contents/Info.plist
0.5.2/EFI/OC/Kexts/Lilu.kext/Contents/MacOS/Lilu
0.5.2/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/Info.plist
0.5.2/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/MacOS/RealtekRTL8111
0.5.2/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/Resources/en.lproj/InfoPlist.strings
0.5.2/EFI/OC/Kexts/SMCProcessor.kext/Contents/Info.plist
0.5.2/EFI/OC/Kexts/SMCProcessor.kext/Contents/MacOS/SMCProcessor
0.5.2/EFI/OC/Kexts/SMCSuperIO.kext/Contents/Info.plist
0.5.2/EFI/OC/Kexts/SMCSuperIO.kext/Contents/MacOS/SMCSuperIO
0.5.2/EFI/OC/Kexts/VirtualSMC.kext/Contents/Info.plist
0.5.2/EFI/OC/Kexts/VirtualSMC.kext/Contents/MacOS/VirtualSMC
0.5.2/EFI/OC/Kexts/WhateverGreen.kext/Contents/Info.plist
0.5.2/EFI/OC/Kexts/WhateverGreen.kext/Contents/MacOS/WhateverGreen
0.5.2/EFI/OC/Kexts/XHCI-unsupported.kext/Contents/Info.plist
0.5.2/EFI/OC/OpenCore.efi
0.5.2/EFI/OC/Tools/Shell.efi
0.5.2/EFI/OC/Tools/VerifyMsrE2.efi
0.5.2/nvram.plist
0.5.3/EFI/APPLE/EXTENSIONS/Firmware.scap
0.5.3/EFI/BOOT/BOOTx64.efi
0.5.3/EFI/OC/ACPI/SSDT-DTPG.aml
0.5.3/EFI/OC/ACPI/SSDT-EC.aml
0.5.3/EFI/OC/ACPI/SSDT-GPRW.aml
0.5.3/EFI/OC/ACPI/SSDT-OCOS.aml
0.5.3/EFI/OC/ACPI/SSDT-PLUG-_SB.PR00.aml
0.5.3/EFI/OC/ACPI/SSDT-PM.aml
0.5.3/EFI/OC/ACPI/SSDT-TB3.aml
0.5.3/EFI/OC/config.plist
0.5.3/EFI/OC/Drivers/ApfsDriverLoader.efi
0.5.3/EFI/OC/Drivers/EmuVariableRuntimeDxe.efi
0.5.3/EFI/OC/Drivers/FwRuntimeServices.efi
0.5.3/EFI/OC/Drivers/MemoryAllocation.efi
0.5.3/EFI/OC/Drivers/VBoxHfs.efi
0.5.3/EFI/OC/Drivers/VirtualSmc.efi
0.5.3/EFI/OC/Kexts/AppleALC.kext/Contents/Info.plist
0.5.3/EFI/OC/Kexts/AppleALC.kext/Contents/MacOS/AppleALC
0.5.3/EFI/OC/Kexts/CPUFriend.kext/Contents/Info.plist
0.5.3/EFI/OC/Kexts/CPUFriend.kext/Contents/MacOS/CPUFriend
0.5.3/EFI/OC/Kexts/CPUFriendDataProvider.kext/Contents/Info.plist
0.5.3/EFI/OC/Kexts/Lilu.kext/Contents/Info.plist
0.5.3/EFI/OC/Kexts/Lilu.kext/Contents/MacOS/Lilu
0.5.3/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/Info.plist
0.5.3/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/MacOS/RealtekRTL8111
0.5.3/EFI/OC/Kexts/RealtekRTL8111.kext/Contents/Resources/en.lproj/InfoPlist.strings
0.5.3/EFI/OC/Kexts/SMCProcessor.kext/Contents/_CodeSignature/CodeResources
0.5.3/EFI/OC/Kexts/SMCProcessor.kext/Contents/Info.plist
0.5.3/EFI/OC/Kexts/SMCProcessor.kext/Contents/MacOS/SMCProcessor
0.5.3/EFI/OC/Kexts/SMCSuperIO.kext/Contents/_CodeSignature/CodeResources
0.5.3/EFI/OC/Kexts/SMCSuperIO.kext/Contents/Info.plist
0.5.3/EFI/OC/Kexts/SMCSuperIO.kext/Contents/MacOS/SMCSuperIO
0.5.3/EFI/OC/Kexts/VirtualSMC.kext/Contents/_CodeSignature/CodeResources
0.5.3/EFI/OC/Kexts/VirtualSMC.kext/Contents/Info.plist
0.5.3/EFI/OC/Kexts/VirtualSMC.kext/Contents/MacOS/VirtualSMC
0.5.3/EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/AppleSmc.h
0.5.3/EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/AppleSmcBridge.hpp
0.5.3/EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/kern_keyvalue.hpp
0.5.3/EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/kern_smcinfo.hpp
0.5.3/EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/kern_value.hpp
0.5.3/EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/kern_vsmcapi.hpp
0.5.3/EFI/OC/Kexts/WhateverGreen.kext/Contents/Info.plist
0.5.3/EFI/OC/Kexts/WhateverGreen.kext/Contents/MacOS/WhateverGreen
0.5.3/EFI/OC/Kexts/XHCI-unsupported.kext/Contents/Info.plist
0.5.3/EFI/OC/OpenCore.efi
0.5.3/EFI/OC/Tools/Shell.efi
0.5.3/EFI/OC/Tools/VerifyMsrE2.efi
0.5.3/nvram.plist
